/* Adds cream color to background + removes space at the very top */
body {
    background-color: #FEFAE0;
    margin: 0 auto; 
    width: 100%; 
}

/* ---------- NAVIGATION BAR ---------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #DDA15E;
    overflow: hidden;
    margin: 0 auto; 
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bold; 
    font-stretch: extra-expanded;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
    background-color: #E8BC8C; 
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #BC6C25;
    color: white;
}

/* ---------- HEADING, BLURB, INSTRUCTIONS ---------- */

/* Apply styling to header elements ex. Humapitarian, What Should I Do */
.header {
    color: #718355; 
    font-family: 'Overpass Mono', monospace;
    letter-spacing: 15px;
    font-size: 48px;
    text-align:center;
    word-spacing: -25px ;
}

/* Apply styling to blurb elements right underneath main header */
.blurb {
    color: black; 
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
    text-align: center;
    margin-right: 300px; 
    margin-left: 300px; 
    margin-top: -50px; 
    line-height: 1.5em; 
}

/* Apply styling to instructions box underneath blurb */
span.instructions {
    border-style: solid; 
    border-color: #DDA15E; 
    border-width: 2px;
    padding: 20px; 
}

/* Apply styling to instructions text  */
.instructions {
    color: black; 
    font-family: 'Roboto', sans-serif;
    font-style: italic; 
    font-size: 17px;
    text-align: center; 
    margin-top: 82px; 
}

/* ---------- MAP CONTAINER ---------- */
/* Applies styling to section encasing map  */
section {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 90px; 
}

/* Adds styling to container in which map and tooltips are contained inside */
.container {
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
}

/* Adjusts image sizing and other styling inside of our container*/
.container img {
    width: 100%; 
    height: 100%;
    border: 4px solid #BC6C25; 
}

/* Styling for h1 tags inside of our map container */
.container h1 {
    font-family: 'Overpass Mono', monospace;
}

/* Styling for p tags inside of our map container */
.container p {
    font-family: 'Roboto', sans-serif;
}

/* Styling for all of our tooltips */
.all-tooltips {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    left: 0; 
    top: 0; 
}

/* Styling for content box */
.tooltip-content {
    position: absolute; 
    background-color: #FCFBF5;
    box-shadow: 0px 0px 20px #00000020; 
    padding: 30px; 
    border-radius: 5px; 
    max-width: 400px; 
    height: 300px; 

    /* Makes tooltip context box "disappear" */
    opacity: 0; 
    pointer-events: none; 
    z-index: 2; 

    /* Context box border color */
    border: 4px solid #BB4430;

    /* Applies overflow with scrollbar */
    overflow: auto; 
    padding-top: 1%; 
}

/* Applies styling to scrollbar */
.tooltip-content::-webkit-scrollbar {
    /* Width of the entire scrollbar */
    width: 12px;               
}

.tooltip-content::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: lightgrey;        
}

.tooltip-content::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color: #283618;      
    /* roundness of the scroll thumb */
    border-radius: 20px; 
    /* creates padding around scroll thumb */
    border: 2px solid lightgray;  
}

/* Upon mouseover pulsing pin, display content */
.tooltip.active .tooltip-content { 
    opacity: .8; 
    pointer-events: all;
}

/* ------- ARROW ------- */
/* Styling for arrow on top of tooltip box */
/* Before overflow property in .tooltip-content, arrow would extend outside of container */
/* .tooltip-content .arrow {
    position: absolute;
    border: 12px solid transparent; 
    border-bottom-color: #BB4430; 
    transform: translate(-50%, -100%); 
    top: 0px; 
    left: 50%; 
} */

/* Styling for pin and pulsing animation */
/* Credit: https://www.florin-pop.com/blog/2019/03/css-pulse-effect/  */
.pin {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    background-color: #BB4430; 
    height: 15px; 
    width: 15px; 
    border-radius: 50%;
    cursor: pointer; 

    /* Scales pin by a factor of 1 and applies animation for infinite time */
    box-shadow: 0 0 0 0 rgba(187, 68, 48, 1);
	transform: scale(1);
    animation: pulse 1.5s infinite;
}

/* Pulse animation for pin */
@keyframes pulse {
    /* Animation goes from 0% to 100%: 
    1. At 0%, the pin shrinks and the box-shadow has an opacity of 0.7
    2. At 70% of the animation, the pin expands and the shadow has an opacity of 0 (transparent)
    3. At 100%, the pin shrinks slightly and the shadow remains transparent */
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(187, 68, 48, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(187, 68, 48, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(187, 68, 48, 0);
    }
}

/* ------- TOOLTIP ELEMENTS STYLING ------- */
/* Applies more styling to title of each tooltip box ex. INDIA, PAKISTAN */
.tooltip-content h1 {
    text-align: center; 
    letter-spacing: 8px;
    font-weight: bolder;
    font-size: 25px; 
}

/* Applies styling to disclaimer at top of each container */
.tooltip-content .disclaimer {
    font-style: italic; 
    font-size: 12px; 
    color: #283618; 
}

/* Styles anchor tags for citing purposes */
.tooltip-content .content a {
    color: #283618; 
    font-style: italic; 
}

/* Styles regular paragraphs containing most information */
.tooltip-content .content .reg-p {
    font-size: 15px; 
}

/* Styles images inside of containers */
.tooltip-content .content img {
    border: 3px solid #283618; 
    border-radius: 1%;
}

/* Styles image captions below images */
.tooltip-content .content .caption {
    font-size: 12px; 
    font-style: italic;
    color: #283618;
}

/* INDIA PIN POSITION */
.india .pin {
    left: 72.5%; 
    top: 41%;
}

/* AFGHANISTAN PIN POSITION */
.afghan .pin {
    left: 68.5%; 
    top: 34.25%;
}

/* PALESTINE PIN POSITION */
.pales .pin {
    top: 35%; 
    left: 59%; 
}

/* YEMEN PIN POSITION */
.yemen .pin {
    top: 45%; 
    left: 63%; 
}

/* SYRIA PIN POSITION */
.syria .pin {
    top: 33%; 
    left: 60.5%; 
}

/* CHINA PIN POSITION */
.china .pin {
    top: 34.25%;
    left: 80%;  
}

 /* ---------- LAST UPDATED ---------- */
 /* Styling applied to "Last Updated" text */
 /* Might automate this with Date properties */
 .last-update p {
    font-family: 'Roboto', sans-serif; 
    margin-left: 5%; 
    margin-right: 4.5%; 
    color: black; 
    margin-top: 5px;
    font-style: italic; 
    font-size: 17px;

 }

/* ---------- FACT GENERATOR BUTTON ---------- */
/* Apply styling to button e.g. font, size, color, button color */
#fact-gen {
    font-family: 'Overpass Mono', monospace;
    font-size: 24px;
    color: white; 

    background-color: #BC6C25;
    border: solid 2px #DDA15E; 
 
    padding-left: 15px; 
    padding-top: 6px; 
    padding-bottom: 6px;
    
    border-radius: 8px;
    letter-spacing: 8px;

   
    margin: auto; 
    margin-top: 80px; 
    display: flex;
    text-align: center;  

    cursor: pointer;
    box-shadow: 0 5px #DDA15E;
}

/* When hovering over the button, change color to lighter shade */
#fact-gen:hover {
    background-color: #CC7528;
}

/* When clicking the button, add press down effect */
#fact-gen:active {
    background-color: #CC7528;
    box-shadow: 0 5px #DDA15E;
    transform: translateY(4px);
}

/* Actual fact to be displayed on click */
#fact {
    color: #283618; 
    font-family: 'Roboto', sans-serif;
    font-size: 26px; 
    text-align: center;
    margin-top: 52px; 
    margin-bottom: 52px; 
}

